extends home 
block content_here
	section.homepage
		div.about
			div.banner

			div.about-content
				h1.title1 关于普尔
				h2 医院实力雄厚
				p 普尔口腔于2002年，由美国HD SYSTEMS集团旗下子公司PURENESS&CO.在北京创立。是一家有着多年牙齿美白、种植、正畸等治疗经验，将优雅、舒适、家居式的治疗环境和尽善尽美的服务融为一体的连锁性高档齿科机构，将国际高度的医疗技术及管理服务理念以最快的速度引进国内，成为口腔行业的知名品牌。

				h2 医院管理先进
				p 普尔口腔于2005年，按照国际传统口腔医疗发展模式，结合中国特色，将股权及经营模式转变为国内优秀牙医合作经营模式，依托专业牙医主管医疗服务，有利于整合医疗资源，保证诊疗质量更好的为客户服务。<br/>普尔口腔是一家装潢优雅，温馨，舒适的家庭式齿科连锁治疗中心，我们提供给每一位客户及患者的是一个静谧和具有隐私性的环境。这样一个齿科医疗环境最适合成为重视公众形象的您和您的家人的私人牙医治疗中心。

				h2 快捷方便问诊
				p 普尔口腔为确保对每一位客户的高服务品质，我们的原则是:只接受预约的方式就诊，您将会享受到非常宁静舒适，一站式的专业治疗，以及使用一次性，百分之百高温高压消毒器械和专属于您的医疗用品。致力于在中国建立一个提供高品质服务的口腔医疗机构。

				h2 服务理念完善
				p 普尔口腔拥有一支优秀且临床经验丰富的牙科医疗及管理团队，为您带来先进的牙科技术及完善的医疗服务，现拥有中外会员两万余人，并成为众多成功人士及演艺名人的私人牙医诊疗机构，就从今日起，让普尔口腔成为您的私人牙医！

				h1.title2 普尔文化
				h2 普尔使命
				p
					span 为客户: 
					| 创建专业的，放心的，值得信赖的私人牙医服务机构
					span 为员工：
					| 提供一个宽广的发展平台，共同创造美好的未来
					span 为社会：
					| 以诚为本，回馈社会

				h2 普尔承诺
				p 严格消毒管理，诚信医疗服务<br/>关注牙齿健康，团结友爱协作<br/>热心社会公益，与时俱进，持续发展

				h2 普尔精神
				p 和谐，感恩，责任，忠诚，爱心

				h2 普尔愿景
				p 致力在中国创建一个提供高品质服务的口腔医疗知名品牌





