extends home 
block content_here
	section.homepage
		div.contact
			div.banner

			div.contact-content
				div.cm 
					h2 医院地址：
					p
						|北京店（总部）：北京市朝阳区建国路88号SOHO现代城A座三层 <br/>
						|北京店（总部）电话：010-85806108 <br/>
						|传真：010-85806109 
					p
						|上海店地址：上海市淮海中路381号中环广场305室 <br/>
						|上海店电话：021-63915013 <br/>
						|传真：021-63915013 
					p
						|网址： www.puritydental.com <br/>
						|邮箱：puritydental@126.com <br/>
						|投诉电话：15911058710
					h2 开诊时间：
					p 周一到周日 早9：00--晚6：00 
					h2 乘车路线：
					p
						span.bus
						|公交31、30、468、677、628、11线等到八王坟南下车，步行到SOHO现代城即到<br/>
						span.subway
						|乘地铁1号线到大望路站B口出，步行到SOHO现代城即到
					