extends home 
block content_here
	section.homepage
		div.family
			div.doctor-bg
				ul
					- for (var x=1;x<=3;x++)
						li
							a(href="cel.html")
								img(src="img/cel#{x}.png")
					- for (var x=1;x<=3;x++)
						li
							a(href="cel.html")
								img(src="img/cel#{x}.png")
