extends home 
block content_here
	section.homepage
		div.bannerbg
			div.banner
				div.content
					img(src="img/banner1-font.png").banner1-font
					a(href="reservation.html").banner1-btn
						img(src="img/banner1-btn.png")
					img(src="img/banner1-img.png").banner1-img
		div.main
			div.box
				ul.madf.clearfix
					li.first
						h3 正畸（隐适美）
						a(href="1.html").imgbox
							img(src="img/temp1.jpg")
							span.title 正畸（隐适美）
					li
						h3 种植（Nobel）
						a(href="1.html").imgbox
							img(src="img/temp2.jpg")
							span.title 种植（Nobel）
					li
						h3 修复
						a(href="1.html").imgbox
							img(src="img/temp3.jpg")
							span.title 修复
					li.last
						h3 儿童牙科
						a(href="1.html").imgbox
							img(src="img/temp4.jpg")
							span.title 儿童牙科
			div.box.tline.clearfix
				div.video
					img(src="img/video.jpg")
				div.news
					div.team
						h3 我们团队
						ul.clearfix
							li
								a
									img(src="img/face.jpg")
							li
								a
									img(src="img/face.jpg")
							li
								a
									img(src="img/face.jpg")
							li
								a
									img(src="img/face.jpg")
					div.news-list
						h3 普尔动态
						ul
							li
								a(href="news.html") 普尔口腔拥有一支优秀且临床经验丰富、具备国际水准的资深牙医队伍...
							li
								a(href="news.html") 普尔口腔拥有一支优秀且临床经验丰富、具备国际水准的资深牙医队伍...
							li
								a(href="news.html") 普尔口腔拥有一支优秀且临床经验丰富、具备国际水准的资深牙医队伍...
