extends home 
block content_here
	section.homepage
		div.join
			div.banner

			div.join-content
				div.cm
					h1.title1 加入普尔
					h2 口腔医生：
					p
						| 1、熟练掌握英语  <br/>
						| 2、五年以上工作经验 <br/>
						| 3、本科以上学历，口腔医疗专业 <br/>
						| 4、执业医师执照、执业医师资格证 <br/>
						| 5、为人正直、责任心强、善于与患者沟通 <br/>
						| 6、口腔治疗技术规范、全面、善于接受高新技术
					h2 护士（女）：
					p
						| 1、医疗护理专业，护士执业资格证书 <br/>
						| 2、有一定英语基础 <br/>
						| 3、品貌端正，勤快、乐于助人 <br/>
						| 4、熟悉护理知识及相关规范
					h2 前台（女）：
					p
						| 1、英语口语流利 <br/>
						| 2、医疗护理专业<br/>
						| 3、品貌端正、勤快、乐于助人<br/>
						| 4、有前台接待工作经验者优先
					h2 业务推广（男）：
					p
						| 1、职责：为推广本诊所制订各项行销专案，扩展客户群；<br/>  
						| 2、要求：大专学历、吃苦耐劳、思维敏捷、为人友善、有进取心。