extends home 
block content_here
	section.homepage
		div.project
			div.banner
				p 普尔口腔拥有一支优秀且临床经验丰富、具备国际水准的资深牙医队伍，为您带来最先进的牙科技术及最完善的医疗服务。普尔口腔向您承诺“以最新的诊疗技术及最好的医疗品质为您提供医疗保健服务”。
			div.project-content
				ul
					li
						span 1
						a(href="Dental-implant.html")
							h2 牙齿种植
						p 种植牙也叫人工种植牙，并不是真的种上自然牙齿。种植牙是修复中的一种，是通过医学的方式，将与人体骨质兼容性高的纯钛金属经过精密的设计，制造成类似牙根的形状，以外科小手术的方式植入缺牙区的牙槽...
					li
						span 2
						a(href="Childrens-Dentistry.html")
							h2 儿童牙病
						p 窝沟封闭的最佳时机为牙齿完全萌出，且尚未发生龋坏的时候。儿童牙齿萌出后达到咬合平面即适宜作窝沟封闭，一般在萌出2年之内。乳磨牙3－4岁，第一恒磨牙6－7岁，第二恒磨牙11－13岁，双尖牙9－13岁。
					li
						span 3
						a(href="Preventive-health-care.html")
							h2 预防保健
						p 很多人可能都听说过，洗牙是一种很常见的保持口腔清洁的方法，很多人都会选择去洗牙，因为洗牙确实有很多好处，那么洗牙的好处有哪些呢?
					li
						span 4
						a(href="Dental-restorations.html")
							h2 牙齿修复
						p 烤瓷牙（metal-ceramic crown），其是瓷粉经过高温烧结熔附于金属内冠表面而形成的全冠修复体。金属烤瓷冠目前临床使用最多的全冠修复体，兼有铸造金属全冠机械强度好和全瓷冠美观的优点，是一种较理想的修复体。
					li
						span 5
						a(href="Orthodontics.html")
							h2 牙齿矫正
						p 牙齿矫正是通过各种矫正装置来调整颜面骨、牙齿、颌面神经肌肉三者之间的平衡和协调。就是说矫正是调整上下颌骨之间，上下牙齿之间、牙齿与颌骨之间和联系它们的神经肌肉之间不正常的关系。矫正能改善发音...