extends home 
block content_here
	section.homepage
		div.project
			div.banner
				p 普尔口腔拥有一支优秀且临床经验丰富、具备国际水准的资深牙医队伍，为您带来最先进的牙科技术及最完善的医疗服务。普尔口腔向您承诺“以最新的诊疗技术及最好的医疗品质为您提供医疗保健服务”。
			div.project-content
				ul
					li
						span 1
						h2 项目1
						p 普尔口腔拥有一支优秀且临床经验丰富、具备国际水准的资深牙医队伍，为您带来最先进的牙科技术及最完善的医疗服务。普尔口腔向您承诺“以最新的诊疗技术及最好的医疗品质为您提供医疗保健服务”。
					li
						span 2
						h2 项目2
						p 普尔口腔拥有一支优秀且临床经验丰富、具备国际水准的资深牙医队伍，为您带来最先进的牙科技术及最完善的医疗服务。普尔口腔向您承诺“以最新的诊疗技术及最好的医疗品质为您提供医疗保健服务”。
					li
						span 3
						h2 项目3
						p 普尔口腔拥有一支优秀且临床经验丰富、具备国际水准的资深牙医队伍，为您带来最先进的牙科技术及最完善的医疗服务。普尔口腔向您承诺“以最新的诊疗技术及最好的医疗品质为您提供医疗保健服务”。