extends home 
block content_here
	section.homepage
		div.team
			div.banner
				
			div.team-content
				ul
					li.on
						a(href="") 特邀专家
					li
						a(href="") 李天博士
					li
						a(href="") 丁阿营博士
					li
						a(href="") 医疗团队
					li
						a(href="") 护理团队
				div.local
					a(href="") 医疗团队
					|  > 
					a(href="") 返回首页
				div.doc
					div.face.clearfix
						img(src="img/doc1.jpg")
						a(href="").tbtn 在线咨询
						a(href="").tbtn.tbtnl 立即预约
					h1 主任: 丁阿营
					p 口腔全科医生/口腔正畸专业医生,哈尔滨医科大学口腔临床医学学士，正畸医学硕士,中华口腔医学会(COS)正畸专科会员，北京民营口腔医疗分会常务委员 ,世界正畸联盟(WFO)会员，美国正畸医师协会(AAO)会员, 舌侧正畸/美国Invisalign隐形矫治首席专家。
					p 从事口腔临床医疗工作十余年，熟练掌握口腔内科、外科、修复、正畸及种植等多学科的专业技术。国内知名口腔医院及高档齿科工作经验。美国、澳大利亚及韩国等多国学习及交流经历，应用国际先进的医疗水平，为您制定科学、合理的系统化治疗方案。为众多中外名人的私人牙医。    
					h2 擅长
					p 成人美学正畸、种植修复、前牙美容修复、无痛治疗、牙体牙髓   
				div.doc
					div.face.clearfix
						img(src="img/doc1.jpg")
						a(href="").tbtn 在线咨询
						a(href="").tbtn.tbtnl 立即预约
					h1 主任: 丁阿营
					p 口腔全科医生/口腔正畸专业医生,哈尔滨医科大学口腔临床医学学士，正畸医学硕士,中华口腔医学会(COS)正畸专科会员，北京民营口腔医疗分会常务委员 ,世界正畸联盟(WFO)会员，美国正畸医师协会(AAO)会员, 舌侧正畸/美国Invisalign隐形矫治首席专家。
					p 从事口腔临床医疗工作十余年，熟练掌握口腔内科、外科、修复、正畸及种植等多学科的专业技术。国内知名口腔医院及高档齿科工作经验。美国、澳大利亚及韩国等多国学习及交流经历，应用国际先进的医疗水平，为您制定科学、合理的系统化治疗方案。为众多中外名人的私人牙医。    
					h2 擅长
					p 成人美学正畸、种植修复、前牙美容修复、无痛治疗、牙体牙髓   


